* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Philosopher", sans-serif;
}

body {
  background-color: rgba(244, 215, 237, 0.8509803922);
}

button {
  color: #ffffff;
  padding: 0.5rem 3.5rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 2.125rem;
  cursor: pointer;
  transition: all 0.5s;
  background: #AC7F7F;
  box-shadow: 0px 7px #DCA7A7;
}

h2 {
  font-size: 3.75rem;
  color: #AC7F7F;
}

input {
  display: block;
  width: 25rem;
  margin: 1.5rem auto auto;
  background: rgba(194, 134, 134, 0.38);
  color: #ffffff;
  padding: 0.3rem 2rem;
  box-shadow: 0px 5px #AC7F7F;
  border-radius: 2rem;
  font-size: 1.563rem;
  border: none;
  font-family: "Poppins", sans-serif;
}
input::placeholder {
  color: #ffffff;
}
input:focus {
  outline: none;
}

.background_img {
  background-image: url(../images/image\ 1.png);
  padding: 5rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.background_img .signin_block {
  background-color: rgba(244, 215, 237, 0.8509803922);
  padding: 3.2rem;
  border-radius: 2rem;
  text-align: center;
}
.background_img .signin_block .heading h2 {
  font-size: 3.75rem;
  color: #AC7F7F;
}
.background_img .signin_block .signin_form input {
  display: block;
  width: 37rem;
  margin: 2rem auto auto;
  background: rgba(194, 134, 134, 0.38);
  color: #ffffff;
  padding: 0.5rem 2rem;
  box-shadow: 0px 5px #AC7F7F;
  border-radius: 2rem;
  font-size: 1.563rem;
  border: none;
  font-family: "Poppins", sans-serif;
}
.background_img .signin_block .signin_form input::placeholder {
  color: #ffffff;
}
.background_img .signin_block .signin_form input:focus {
  outline: none;
}
.background_img .signin_block .signin_form input:nth-child(2) {
  margin-top: 2rem;
}
.background_img .signin_block .signin_btn {
  padding-top: 2rem;
}
.background_img .signin_block .signup_link {
  padding: 1rem 0;
}
.background_img .signin_block .signup_link a {
  color: #AC7F7F;
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  button {
    font-size: 1.125rem;
  }
  input, img, textarea {
    width: 100% !important;
  }
  .background_img {
    padding: 5rem 3rem;
  }
  .background_img .signin_block .heading h2 {
    font-size: 3rem;
  }
  .background_img .signin_block .signin_form input {
    width: 100%;
    font-size: 1rem;
  }
}
@media (max-width: 786px) {
  .background_img .signin_block .signin_form input {
    width: 100%;
  }
}
.background_img {
  background-image: url(../images/image\ 1.png);
  padding: 3.65rem 0;
}
.background_img .signin_block {
  background-color: rgba(244, 215, 237, 0.8509803922);
  padding: 0rem 0.7rem;
  border-radius: 2rem;
  text-align: center;
}
.background_img .signin_block .left_block {
  background: rgba(194, 134, 134, 0.38);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
}
.background_img .signin_block .right_block {
  padding: 1rem;
}
.background_img .signin_block .right_block .heading h2 {
  font-size: 3.75rem;
  color: #AC7F7F;
}
.background_img .signin_block .right_block .signin_form input {
  display: block;
  width: 25rem;
  margin: 1.5rem auto auto;
  background: rgba(194, 134, 134, 0.38);
  color: #ffffff;
  padding: 0.3rem 2rem;
  box-shadow: 0px 5px #AC7F7F;
  border-radius: 2rem;
  font-size: 1.563rem;
  border: none;
  font-family: "Poppins", sans-serif;
}
.background_img .signin_block .right_block .signin_form input::placeholder {
  color: #ffffff;
}
.background_img .signin_block .right_block .signin_form input:focus {
  outline: none;
}
.background_img .signin_block .right_block .signin_form input:nth-child(2) {
  margin-top: 1.5rem;
}
.background_img .signin_block .right_block .signup_btn {
  padding: 1.5rem 0;
}
.background_img .signin_block .right_block .signin_link a {
  color: #AC7F7F;
  font-size: 1.5rem;
  font-weight: 700;
}

.admin {
  text-align: center;
  padding: 4rem 0;
}
.admin .admin_btn {
  padding-top: 2rem;
}

@media screen and (max-width: 576px) {
  .background_img .signin_block {
    margin: 0 2rem;
  }
  .background_img .signin_block .left_block {
    width: 100%;
  }
  .background_img .signin_block .left_block img {
    width: 100%;
  }
  .background_img .signin_block .right_block .signin_form input {
    width: 100%;
  }
}
.navbar {
  background-color: #AC7F7F;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}
.navbar .menu {
  padding-top: 1rem;
}
.navbar .menu a {
  font-size: 2.25rem;
  color: #ffffff;
  font-family: "Philosopher", sans-serif;
  padding: 0rem 1rem;
  cursor: pointer;
}
.navbar .logout {
  padding-top: 0.3rem;
  cursor: pointer;
}
.navbar .mobile_nav_bar {
  display: none;
}

.cards_block {
  padding: 3rem 0;
}
.cards_block .card_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.cards_block .card_container .card1 {
  display: flex;
  gap: 1rem;
  background-color: #AC7F7F;
  border-radius: 1.375rem;
  padding: 0;
}
.cards_block .card_container .card1 .choco_img {
  background-color: #FCC5C5;
  padding: 1.2rem 0.5rem;
  border-radius: 1.375rem;
  cursor: pointer;
}
.cards_block .card_container .card1 .choco_img .image {
  width: 7.5rem;
}
.cards_block .card_container .card1 .choco_img .image img {
  width: 100%;
}
.cards_block .card_container .card1 .choco_deatils {
  padding: 1rem 1rem 0 0;
  color: #ffffff;
}
.cards_block .card_container .card1 .choco_deatils h2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.125rem;
  font-family: "Philosopher";
  font-style: normal;
}
.cards_block .card_container .card1 .choco_deatils p {
  font-size: 1.063rem;
  line-height: 1.188rem;
  padding: 0.5rem 2.5rem 0 0;
}
.cards_block .card_container .card1 .choco_deatils .icon {
  padding-top: 2rem;
}
.cards_block .card_container .card1 .choco_deatils .icon button {
  background: #FCC5C5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34.5px;
  padding: 0rem 2rem;
  line-height: 2rem;
}
.cards_block .card_container .card1 .choco_deatils .icon button::before {
  font-size: 1.2rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #2B2B2B;
  content: "\f303";
}
.cards_block .card_container .card1 .choco_deatils .icon button:nth-child(2)::before {
  font-size: 1rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #EB3223;
  content: "\f1f8";
}
.cards_block .card_container .card1 .choco_deatils .icon button:nth-child(2) {
  margin-left: 1.2rem;
}

.add_item {
  position: relative;
  cursor: pointer;
}
.add_item .add_chocos {
  position: absolute;
  top: 2rem;
  right: 0;
  width: 3.5rem;
  color: #ffffff;
  background-color: #AC7F7F;
  border-radius: 8rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .navbar .menu {
    display: none;
  }
  .navbar .logout {
    display: none;
  }
  .navbar .mobile_nav_bar .hamburg {
    width: 100%;
    padding: 1rem 0;
    position: relative;
    z-index: 999;
  }
  .navbar .mobile_nav_bar .hamburg span {
    display: block;
    height: 0.3rem;
    width: 2.2rem;
    background-color: #ffffff;
    padding: 0rem 1rem;
    margin: 0.4rem;
  }
  .navbar .mobile_nav_bar .mobile {
    display: none;
  }
  .navbar .mobile_nav_bar .mobile .mobile_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 5rem 0;
    margin-top: 6rem;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: 99;
    background-color: #AC7F7F;
  }
  .navbar .mobile_nav_bar .mobile .mobile_menu a {
    font-size: 2.25rem;
    color: #ffffff;
    font-family: "Philosopher", sans-serif;
    padding: 0rem 1rem;
    cursor: pointer;
  }
  .navbar .mobile_nav_bar .mobile .mobile_menu .mobile_logout {
    width: 30%;
  }
  .navbar .mobile_nav_bar .mobile .mobile_menu .mobile_logout img {
    width: 100%;
  }
}
@media (max-width: 786px) {
  .navbar .menu {
    display: none;
  }
  .navbar .logout {
    display: none;
  }
  .navbar .mobile_nav_bar .hamburg {
    width: 100%;
    padding: 1rem 0;
    position: relative;
    z-index: 999;
  }
  .navbar .mobile_nav_bar .hamburg span {
    display: block;
    height: 0.3rem;
    width: 2.2rem;
    background-color: #ffffff;
    padding: 0rem 1rem;
    margin: 0.4rem;
  }
  .navbar .mobile_nav_bar .mobile {
    display: none;
  }
  .navbar .mobile_nav_bar .mobile .mobile_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 5rem 0;
    margin-top: 6rem;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: 99;
    background-color: #AC7F7F;
  }
  .navbar .mobile_nav_bar .mobile .mobile_menu a {
    font-size: 2.25rem;
    color: #ffffff;
    font-family: "Philosopher", sans-serif;
    padding: 0rem 1rem;
    cursor: pointer;
  }
  .navbar .mobile_nav_bar .mobile .mobile_menu .mobile_logout {
    width: 30%;
  }
  .navbar .mobile_nav_bar .mobile .mobile_menu .mobile_logout img {
    width: 100%;
  }
}
.add_choco {
  padding: 2rem 0;
}
.add_choco .edit_left {
  padding: 4rem 0 !important;
}
.add_choco .add_left {
  background: rgba(194, 134, 134, 0.38);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  border: 6px dotted #AC7F7F;
  text-align: center;
  padding: 6.9rem 0;
}
.add_choco .add_left .edit_choco_img {
  width: 20rem;
  margin: 0 auto;
}
.add_choco .add_left .edit_choco_img img {
  width: 100%;
}
.add_choco .add_left h3 {
  padding-top: 2rem;
  color: #AC7F7F;
  font-size: 2.813rem;
}
.add_choco .add_right {
  text-align: center;
  padding-top: 2rem;
}
.add_choco .add_right h2 {
  font-size: 2rem;
  color: #AC7F7F;
}
.add_choco .add_right .add_input textarea {
  display: block;
  width: 25rem;
  margin: 1.5rem auto auto;
  background: rgba(194, 134, 134, 0.38);
  color: #ffffff;
  padding: 0.3rem 2rem;
  box-shadow: 0px 5px #AC7F7F;
  border-radius: 2rem;
  font-size: 1.563rem;
  border: none;
  font-family: "Poppins", sans-serif;
  resize: none;
  height: 8rem;
}
.add_choco .add_right .add_input textarea::placeholder {
  color: #ffffff;
}
.add_choco .add_right .add_input textarea:focus {
  outline: none;
}
.add_choco .add_right .add_btn {
  padding-top: 2rem;
}
.add_choco .add_right .add_btn button {
  padding: 0.2rem 3.5rem;
}

@media screen and (max-width: 576px) {
  .add_choco .add_left .add_choco_img {
    width: 100%;
  }
}
.show_choco {
  text-align: center;
  padding: 2rem 0;
}
.show_choco .title h2 {
  font-size: 2rem;
}
.show_choco .show_img {
  width: 19rem;
  margin: 0 auto;
}
.show_choco .show_img img {
  width: 100%;
}
.show_choco .details h3 {
  color: #AC7F7F;
  font-size: 2rem;
  padding-bottom: 2rem;
}
.show_choco .details p {
  font-size: 1.875rem;
  color: #AC7F7F;
}

@media screen and (max-width: 576px) {
  .show_choco .show_img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */